<footer>
    <div class="container myfooter mt-5 mb-5 p-2">
      <div class="row d-flex align-items-center">
        <div class="col-10">
          <p>
            <%= new Date().getFullYear(); %>
          </p>
        </div>
      </div>
    </div>
  </footer>